body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    color: var(--secondary-color);
}

a {
    color: var(--primary-color);
}

.row {
    margin-bottom: 15px;
}